;;   -*- scheme -*-
(define-structure dict (export *the-hash-table*)
  (open scheme tables reduce primitives bag)
  (files dict))

(define-structure bag (export bag subtract-bags bag-empty? bags=?)
  (open scheme assert signals)
  (files bag))

(define-structure assert (export assert)
  (open scheme signals)
  (files assert))

(define-structure anagrams (export)
  (open scheme assert dict bag srfi-1)
  (files anagrams))
