;;   -*- scheme -*-
(define-structure dict (export snarf-dictionary)
  (open scheme tables reduce primitives bag regexps)
  (files dict))

(define-structure bag (export bag subtract-bags bag-empty? bags=?)
  (open scheme srfi-23)
  (files bag))

(define-structure anagrams (export anagrams)
  (open scheme dict bag srfi-1)
  (files anagrams))
