[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
asks = "*"
requests = ">=2.20.0"
trio = "~=0.11.0"               # pinned, as suggested by https://github.com/python-trio/trio/issues/1
urllib3 = ">=1.24.2"

[dev-packages]

[requires]
python_version = "3.7"
